<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Create User</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
  
    <div>
    <form action="/create" method="post">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5  py-2 rounded-lg" placeholder="Name" name="username">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5 mt-2 py-2 rounded-lg" placeholder="Email" name="email">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5 py-2 mt-2 rounded-lg" placeholder="Password" name="password">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5 mt-2 py-2 rounded-lg" placeholder="Image URL" name="image">
        <input type="submit"  class="mt-2 text-white bg-blue-600 px-5 py-2 rounded-lg" value="create user" />
    </form>
</div>
    </div>
</body>
</html>