<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Create User</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
  
    <div>
    <form action="/createmovie" method="post">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5  py-2 rounded-lg" placeholder="Movie name" name="title">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5  py-2 mt-2 rounded-lg" placeholder="Description" name="description">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5 mt-2 py-2 rounded-lg" placeholder="genre" name="genre">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5 py-2 mt-2 rounded-lg" placeholder="Rating" name="rating">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5 py-2 mt-2 rounded-lg" placeholder="Duration" name="duration">
        <input type = "date" class="block text-white outline-none w-full bg-zinc-800 px-5 py-2 mt-2 rounded-lg" placeholder="Release Date" name="release_date">
        <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5 mt-2 py-2 rounded-lg" placeholder="Image" name="image">
        <input type="submit"  class="mt-2 text-white bg-blue-600 px-5 py-2 rounded-lg" value="create movie" />
    </form>

   
</div>
    </div>
</body>
</html>