<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
  
        <div>
        <form action="/66815397ffaac5d0e301e1d4/6681726efcf7ae0bda0b5bfe" method="post">
            <input type = "datetime-local" class="block text-white outline-none w-full bg-zinc-800 px-5  py-2 rounded-lg" placeholder="Start time" name="start_time">
            <input type = "datetime-local" class="block text-white outline-none w-full bg-zinc-800 px-5  py-2 rounded-lg" placeholder="End Time" name="end_time">
            <input type = "text" class="block text-white outline-none w-full bg-zinc-800 px-5  py-2 rounded-lg" placeholder="Ticket Price" name="ticketprice">
            <input type="submit"  class="mt-2 text-white bg-blue-600 px-5 py-2 rounded-lg" value="create showtime" />
        </form>
    
       
    </div>
        </div>
</body>
</html>